/* YOUR CUSTOM STYLES */

html,
body,
header,
.view {
    height: 100%;
}

.view {
    background: url("http://usersthink.com/wp-content/uploads/06-usersthink-stock-image.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.flex-center {
    color: #fff;
}